.requirement-box > strong {
  color: #1a1919;
  margin-right: 10px;
}
.requirement-box > p {
  color: #757575;
}
.job-details-box {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.1) 0%,
    rgba(152, 115, 255, 0.1) 100%
  );
  border-radius: 8px;
  padding: 30px;
}

.details-container {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 24px;
  margin-top: 130px;
}

.job-details-box hr {
  width: 100%;
  margin: 24px 0;
  height: 1.5px;
  background-image: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
}
.apply-now-btn {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  border-radius: 8px;
  padding: 20px;
  color: white;
  font-weight: 500;
}
