.banner-content h1 {
  line-height: 1.4;
}
.banner-content h1 span {
  background: linear-gradient(90deg, #7e90fe 0%, #9873ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main-banner {
  background: linear-gradient(
    90deg,
    rgba(126, 144, 254, 0.05) 0%,
    rgba(152, 115, 255, 0.05) 100%
  );
}

.banner-content {
  position: relative;
  animation: bannerAnimateLeft 1s ease-in 0s 1;
}

@keyframes bannerAnimateLeft {
  0% {
    left: -50rem;
  }
  100% {
    left: 0;
  }
}

.banner-cover {
  position: relative;
  animation: bannerAnimateRight 1s ease-in 0s 1;
}

@keyframes bannerAnimateRight {
  0% {
    right: -50rem;
  }
  100% {
    right: 0;
  }
}
